<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <% include partials/nav.ejs %>
    <h1>Profile Page</h1>
    <!-- dynamically showing data -->

    When output data then '=' sign in <%= %>
    When JS then no '=' sign in <% %>

    <h2>Welcome <%= person %></h2>  
    <p><b>Age:<%= data.age %></b></p>
    <p><b>Job:<%= data.job %></b></p><br><br>
    <h2>Hobbies</h2>
    <ul>
        <% data.hobbies.forEach(function(item){ %>     
          <li><%= item %></li>  
       <% }); %>
    </ul>
</body>
</html>